1p95Kell1_00_22-11-23_12-52-34p714
renamed_Images1
venv2
Optical_Images
Removed_Wing_Images
.DS_Store
Approx_Final.png
Approx_Original_Image.png
Approx_mask.png
Approx_result.png
Approx_threshold.png
 ArcLen thresh3 after enhancement.png
ArcLen_Binary.png
ArcLen_Inverted_Mask.png
ArcLen_Original_Image.png
Binary Image.png
Chain_approx_NONE_RETR_CCOMP.png
Chain_approx_NONE_RETR_CCOMP_on_Mask.png
Chain_approx_NONE_RETR_EXTERNAL.png
Chain_approx_NONE_RETR_EXTERNAL_on_Mask.png
Chain_approx_NONE_RETR_LIST.png
Chain_approx_NONE_RETR_LIST_on_Mask.png
Chain_approx_NONE_RETR_TREE.png
Chain_approx_NONE_RETR_TREE_on_Mask.png
Chain_approx_SIMPLE_RETR_CCOMP.png
Chain_approx_SIMPLE_RETR_CCOMP_on_Mask.png
Chain_approx_SIMPLE_RETR_EXTERNAL.png
Chain_approx_SIMPLE_RETR_EXTERNAL_on_Mask.png
Chain_approx_SIMPLE_RETR_LIST.png
Chain_approx_SIMPLE_RETR_LIST_on_Mask.png
Chain_approx_SIMPLE_RETR_TREE.png
Chain_approx_SIMPLE_RETR_TREE_on_Mask.png
Loaded_Images1/
Max_Area_Final.png
Max_area After Bitwise Operation.png
Max_area Mask_with_Largest_Contour.png
ArcLen thresh3 after enhancement.png
threshold_Images.tif